/********************************
 COLORS
 ********************************/
 body {
     background: #fff;
     color: #999;
 }
 
 a {
  color: blue;
  
 }
 
 header {
     background: black;
 }
 
 h1, h2 {
     color: white;
 }
 
 nav {
     background: green;  
 }
 /*Pseudo-Class*/
 nav a, nav a:visited{
     color: #fff;
 }
 
 .news {
     color: black;
     text-decoration: underline;
 }
 
 .creator {
     color: black;
     text-align: center;
     text-decoration: underline;
     margin-left: 220px;
 }
 
 .news-b {
     text-decoration: underline;
 }
 
 
 
 nav a.selected, nav a:hover {
     color: greenyellow;
 }
 
 .form-name {
     color: black;
     margin-top: 50px;
 }
 
 .soccer-body {
      background-image: url("http://www.footballwallpapershd.com/wp-content/uploads/Champions-League-Stadium-Football-Wallpapers-HD.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-attachment: fixed;
 }
 
 .baseball-body{
      background-image: url("http://wallpapercave.com/wp/JMiF4Lq.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-attachment: fixed;
 }
 
 .football-body {
     background-image: url("http://www.templateof.com/postpic/2015/10/football-field-as-background_141731.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-attachment: fixed;
 }
 
 .basketball-body {
     background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/05/Images-Download-Basketball-Wallpapers-HD.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-attachment: fixed;
 }
 
 /*******************************
 PAGE PORTFOLIO
 *******************************/
 #gallery {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 #gallery li {
     float: left;
     width: 45%;
     margin: 2.5%;
     background-color: lightgrey;
     color: #bdc3c7;
 }
 
 #gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.9em;
  color: black;
 }
 
 .football {
     color: white;
 }
 
 
 */*******************************
 ABOUT ME PAGE 
 *******************************/
 .profile-photo {
     display: box;
     height: 500px;
     width: 450px;
     margin-right: 50px;
     border-radius: 15%;
     padding-right: 20px;
 }
 .profile-photo2 {
     display: box;
     height: 500px;
     width: 450px;
     margin-left: 500px;
     margin-top: -580px;
     border-radius: 15%;
     padding-left: 40px;
     
 }
 
     
 /*******************************
 CONTACT PAGE 
 *******************************/
 .contact-info a {
    display: block;
    min-height: 20px;
    /*by default it will always repeat background images*/
    background-repeat: no-repeat;
    /*resize the background img*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
 }
 
 .contact-info li.mail a {
     background-image: url('../image/gmail.jpg');
 }
 
 .contact-info li.twitter a {
     background-image: url('../image/twitter.jpg');
 }
 div.row {
     margin-top: 50px;
 }
form {
    text-align: left;
    margin-top: 30px;
}

.email {
    margin-left: 470px;
}

.mail {
    font-weight: bolder;
}

.twitter {
    font-weight: bolder;
}
/*******************************
 GENERAL
 *******************************/
 body {
     font-family: 'Open Sans', sans-serif;
 }
 p {
     font-family: 'Source Sans Pro', sans-serif;
 }
 
 a {
     text-decoration: none;
 }
 img {
     max-width: 100%;
 }
 
 #wrapper {
     /*max-width is related to width, but instead of width, max-width that it can be smaller for mobile devices/tablets*/
     max-width: 940px;
     /*margin 0 is for all sides*/
     margin: 0 auto;
     /*Values for first one is top and bottom. Second one if left to right.*/
     padding: 0 5%;
     }
     
     h3 {
         margin: 0 0 1em 0;
         
     }
     a.button {
     -webkit-appearance: button;
     -moz-appearance: button;
     appearance: button;
 
     text-decoration: none;
     color: initial;
 }
 /*******************************
 HEADER
 *******************************/
 header {
     float: left;
     margin: 0 0  0;
     padding: 5px 0 0 0;
     width: 100%;
 }
 
 .names {
     margin-top: 10px;
 }
     
     #logo {
         /*our name and description of who we are*/
         text-align: center;
         margin: 0;
     }
 
     h1 {
         font-family: 'Cantarell', sans-serif;
         margin: 15px 0;
         font-size: 1.75em;
     }
     
     h2 {
         font-size: 0.75em;
         /*1st value is for top. 2nd value if for left and right. 3rd value is for bottom.*/
         margin: -30px 16px 0;
         font-weight: bold;
         font-family: 'PT Sans', sans-serif;
     }
     /******************************
     NAVIGATION
     ******************************/
     nav {
         text-align: center;
         padding: 10px 0;
         margin: 20px 0;
        
         }
         nav ul {
             list-style: none;
             padding: 10px 0;
             margin: 0 10px;
         }
         
         nav li {
             display: inline-block;
         }
         
         nav a {
             font-weight: 800;
             padding: 15px 10px;
         }
         
          
             
         
     /******************************
     FOOTER
     ******************************/
     footer {
         font-size: 1.25em;
         text-align: center;
         padding-top: 50px;
         color: green;
         clear: both;
     }
     .social-media-icon {
         width: 30px;
         height: 30px;
         margin: 0;
     }
     /********************************
 MEDIA QUERIES
 ********************************/
 /*TWO COLUMN LAYOUT*/
 
 @media screen and (min-width: 480px){
     #primary {
         width: 50%;
         float: left;
     }
     #secondary {
         width: 40%;
         float: right;
     }
     /*THREE COLUMN LAYOUT PORTFOLIO*/
     #gallery li {
         width: 28.3333%;
     }
     #gallery li:nth-child(4n){
         clear: left;
     }
     /*ABOUT PAGE*/
     .profile-photo {
         float:left;
         margin: 0 5% 80px;
     }
     
 }
 
 @media screen and (min-width: 660px ){
   /*NAV*/
   nav {
      background: none;
      float: right;
      font-size: 1.125em;
      margin-right: 5%;
      text-align: right;
      width: 45%;
   }
   #logo {
       float: left;
       margin-left: 5%;
       text-align: left;
       width: 45%
   }
   h1 {
       font-size: 2.5em;
   }
   h2 {
       font-size: 2em;
       margin-bottom: 10px;
   }
   header {
       border-bottom: 5px solid greenyellow;
       margin-bottom: 60px;
   }
 }
 /******************************
     Carousel
 ******************************/
 .right.carousel-control, .left.carousel-control {
     opacity: 0;
     filter:alpha(opacity=0); /*IE support*/
 }
 
 /*Side Nav*/
 
 header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    
    
/*Icon Pictures*/

.icon-soccer {
    height: 30px;
    width: 30px;
    
}
 
.icon-baseball {
    height: 30px;
    width: 30px;
}    

.icon-basketball {
    height: 30px;
    width: 30px;
}
    

.icon-football {
    height: 30px;
    width: 30px;
}

          
 
